$primary-color: #638eff;
$primary-dark-color: #745dff;
.text-area{
    border: none;
    resize: none;
    font-size: 22px;
    letter-spacing: .7px;
    color:#000;
    width:100%;
    padding:10px 0;
    border:none;
    &::-webkit-scrollbar{
        display: none;
    }
    &:focus{
        outline: none;
    }
    &::placeholder{
        color: #a1a3a1;
        font-weight: lighter;
        font-family: 'Open Sans', sans-serif;
    }
}
.theme-button{
    border:2px solid black;
    background-color: #fff;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    padding:12px 70px;
    cursor: pointer;
    &:hover{
        color:$primary-dark-color;
        border-color: $primary-dark-color;
        text-shadow: 1px 1px 0px $primary-dark-color;
        box-shadow: 1px 1px 0px 0px $primary-dark-color;
    }
    &:active{
        color:#fff;
        background-image: linear-gradient(to bottom,#864bff,#5082ff);
    }
}
.dropzone{
    width:100%;
    height: 60%;
    border:2px dashed rgb(158, 161, 161,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        color:rgb(158, 161, 161);
        width:50%;
        text-align: center;
        line-height: 40px;
        span{
            color:$primary-dark-color;
        }
    }

}
.files-list{
    display: flex;
    div{
        width: 100px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        svg{
            color:rgba(123, 125, 125);
            font-size: 34px;
            margin-bottom: 6px;
        }
        &:hover{
            background-color: rgb(220, 219, 219,.5);
        }
    }
}
.add-more-files{
    line-height: 20px ;

    svg{
      margin:0px !important;
      font-size: 24px !important;
      color:$primary-dark-color !important;
    }
    p{
      margin: 0px !important;
      font-size: 14px;
      font-weight: bold;
    
    }
    .upto5MB{
        font-size: 10px !important;
        color:rgba(123, 125, 125) !important;
    }
}